.App {
  font-family: sans-serif;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.cell {
  height: 2rem;
}

.hover-pointer {
  cursor: pointer;
}

.hover-underline:hover {
  text-decoration-line: underline !important;
}
